# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# Session logs
logs/

# Research artifacts
nix-re-tools.md
